:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color:#434455;
    --subtle-text-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --white-color: white;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h2 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
}
h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img, button {
    display: block;
}

.header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 1px 6px 0px var(--dark-color);
    box-shadow: 0px 1px 1px 0px var(--dark-color);
    box-shadow: 0px 2px 1px 0px var(--dark-color);
}
.container {
    padding: 0 156px;
}
.header .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: 76px;
    padding: 24px 0;
}
.studio-logo {
    color: var(--dark-color);
}
.nav {
    display: flex;
    align-items: center;
}
.navigate-list {
    display: flex;
    gap: 40px;
}
.navigate-list-items {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--dark-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate-list-items.current {
    position: relative;
    color: var(--pressed-state-color);
}
.navigate-list-items.current::before, .navigate-list-items.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}
.navigate-list-items:focus, .navigate-list-items:hover {
    color: var(--pressed-state-color);
}
address {
    margin-left: auto;
    padding: 0;
    font-style: normal;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-list-item {
    padding: 24px 0;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-item:focus, .contact-list-item:hover {
    color: var(--pressed-state-color);
}

.first-section {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--dark-color);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-image.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
}

.first-section .container {
    margin: 0 auto;
    height: 100%;
}

.first-section-h-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    align-items: center;
    display: block;
    color: var(--white-color);
    max-width: 496px;
    margin: 0 auto;
    padding: 0;
}
.first-section-btn {
    min-width: 169px;
    height: 56px;
    background: var(--primary-brand-color);
    border: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    align-items: center;
    text-align: center;
    margin: 48px auto 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section-btn:focus {
    background-color: var(--pressed-state-color);
}
.first-section-btn:hover {
    background-color: var(--pressed-state-color);
}

.second-section {
    padding: 120px 0;
    background-color: var(--white-color);  
}
.second-section .container {
    margin: 0 auto;
    padding: 0 156px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.second-section-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
.second-section-list-items {
    width: calc((100% - 72px) / 4);
}
.second-section-items-div {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--light-color);
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
}
.second-section-h-three {
    margin-bottom: 8px;
}

.third-section {
    padding: 120px 0;
    background-color: var(--light-color);
}
.third-section .container {
    margin: 0 auto;
    padding: 0 156px;
}
.third-section-h-two {
    margin-bottom: 72px;
}
.third-section-list {
    margin-left: 0 auto;
    display: flex;
    gap:24px;
}
.third-section-list-items {
    width: calc((100% - 72px) / 4);
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 2px 1px 0px #2E2F4214;
}
.third-section-img {
    width: 100%;
    height: auto;
}
.third-section-list-items-container {
    width: 100%;
    padding: 32px 16px;
}
.third-section-h-three {
    text-align: center;
    margin-bottom: 8px;
}
.third-section-p {
    text-align: center;
    margin-bottom: 8px;
}
.third-section-social-links {
    margin: 0 calc((100% - 232px) / 2);
    display: flex;
    gap: 24px;
}
.third-section-social-links-items .icon {
    fill: var(--primary-brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third-section-social-links-items:hover .icon, .third-section-social-links-items:focus .icon {
    fill: var(--pressed-state-color);
    transform: translateY(20%);
}
.fourth-section {
    padding: 120px 0;
    background-color: var(--white-color);
}
.fourth-section .container{
    margin: 0 auto;
    padding: 0 156px;
}
.fourth-section-h-two {
    text-align: center;
    margin-bottom: 72px;
}
.fourth-section-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
}
.fourth-section-list-items {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--accent-color);
    text-align: left;
}
.fourth-section-items-img-div {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 32px;
    background-color: var(--primary-brand-color);
    color: var(--light-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transform: translateY(100%);  
}
.fourth-section-list-items:hover .overlay {
    transform: translateY(0);
}

.fourth-section-img {
    width: 100%;
    height: auto;
}


.fourth-section-list-items-container {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
    text-align: left;
}
.fourth-section-h-three {
    margin-bottom: 8px;
}

.footer {
    padding: 100px 0;
    background-color: var(--dark-color);
    display: flex;
}
.footer .container {
    padding: 0 0 0 156px;
    display: flex;
}
.logo-div {
    max-width: 264px;
    margin-right: 120px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    display: inline-block;
    margin-bottom: 16px;
}
.footer-studio-logo {
    color: var(--light-color);
}
.footer-p {
    max-width: 264px;
    color: var(--light-color);
}
.footer-social-links-p {
    margin-bottom: 16px;
    color: var(--white-color);
}
.footer-social-links {
    display: flex;
    gap: 16px;
}
.footer-social-links-items .icon {
    fill: var(--primary-brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links-items:hover .icon, .footer-social-links-items:focus .icon {
    fill: var(--success-color);
    transform: scale(1.2);
}

